.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: rgb(255, 253, 253);
}

.container label {
  font-weight: 700;
  font-size: 1rem;
  color: #000000;
}

.container input {
  border-radius: 5px;
  border: 1px solid #0a0a0a;
  outline: none;
  padding: 10px 15px;
  color: #000000;
}
